{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}ai{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Behold My Awesome Project!">
  <meta name="author" content="Julien Leotier">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Latest compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <!-- Your stuff: Third-party CSS libraries go here -->
  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet">


  <style>
    @font-face {
      font-family: "simssunb" !important;
      src: url({% static 'fonts/simsunb.ttf' %}) format("ttf"),
    }

    @font-face {
      font-family: "reross" !important;
      src: url({% static 'fonts/reross.ttf' %}) format("ttf"),
    }

  </style>
  {% endblock %}
  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
  <!-- Materialize JS and its dependencies-->
  <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <!-- Your stuff: Third-party javascript libraries go here -->

  <!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/project.js' %}"></script>
  <script defer src="{% static 'js/nicepage.js' %}"></script>

  {% endblock javascript %}

</head>

<body>
  <nav class="white">
    <div class="nav-wrapper container-perso">
      <ul class="left hide-on-med-and-down black-text">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger black-text">MENU <img
              src="{% static 'images/Icone_menu_ax@2x.png' %}" class="menu-icon" /></a></li>

        <li><a href="badges.html" class="black-text">EURO
            <img src="{% static 'images/euro_byu.png' %}" class="menu-icon" /></a>
        </li>
        <li><a href="collapsible.html" class="black-text">FRANÇAIS
            <img src="{% static 'images/Drapeau_.png' %}" class="menu-icon" /></a>
        </li>
        <li><a href="collapsible.html" class="black-text">CONTACTEZ-NOUS
            <img src="{% static 'images/letter_hf@2x.png' %}" class="letter-icon" /></a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html" class="black-text"><img src="{% static 'images/gift-card_.png' %}"
              class="card-icon" /></a></li>
        <li><a href="sass.html" class="black-text"><img src="{% static 'images/heart_.png' %}" class="heart-icon" /></a>
        </li>
        <li><a href="sass.html" class="black-text"><img src="{% static 'images/shopping-bag_1_.png' %}"
              class="bag-icon" /></a></li>
        <li><a href="sass.html" class="black-text"><img src="{% static 'images/Mon_Compte@2x.png' %}"
              class="user-icon" /></a></li>
      </ul>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">
    <img src="{% static 'images/menu/favicon.png' %}" alt="" class="Logo-slidder">
    <div class="col s12 text-menu">
      <p class="font-menu">MENU</p>
    </div>
    <div class="row left-all-menu">

      <div class="col s12">
        <li class="search">
          <div class="search-wrapper">
            <input id="search" placeholder="Recherche"><i class="material-icons left icon-search">search</i>
          </div>
        </li>
      </div>
      <div class="col s12">
        <h5 class="title-font">ART <span class="shop-color">SHOP</span></h5>
      </div>
      <div class="col s12">
        <ul>
          <li class="left-menu">Oeuvres</li>
          <li class="left-menu">Évènements</li>
          <li class="left-menu">Artistes</li>
          <li class="left-menu">Multi-Artistes</li>
        </ul>
      </div>
      <div class="col s12">
        <h5 class="culture-color">CULTURE</h5>
      </div>
      <div class="col s12">
        <ul>
          <li class="left-menu">Arts</li>
          <li class="left-menu">Chercher un musée ?</li>
          <li class="left-menu">Agenda des manifestation culturelles</li>
          <li class="left-menu">ART SHOP découverte de nos artistes</li>
          <li class="left-menu">Institutions culturelles</li>
          <li class="left-menu">Job dans la culture</li>
        </ul>
      </div>
      <div class="col s12">
        <p class="exposer-color"><b>exposer</b></p>
        <p class="adn-color"><b>adn</b></p>
      </div>
      <div class="col s12 group-action">
        <div class="row">
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/menu/user.png' %}" class="slider-icon-menu" /> S’inscrire /
              Se connecter </b>
            </p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/menu/plus_1_b.png' %}" class="slider-icon-menu" /> Mes
              artistes favoris</b>
            </p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/menu/heart_2_jx@2x.png' %}" class="slider-icon-menu" /> Mes
              coups de
              coeur</b>
            </p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/menu/letter_hf@2x.png' %}" class="slider-icon-menu" />
              Contactez-nous</b></p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/menu/briefcase_a@2x.png' %}" class="slider-icon-menu" />
              Entreprises</b></p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/menu/n_02-globe@2x.png' %}" class="slider-icon-menu" />
              Français</b></p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
          <div class="col s10">
            <p class="no-margin"><img src="{% static 'images/euro_byu.png' %}" class="slider-icon-menu" /> Euros</b></p>
          </div>
          <div class="col s2 container-plus">
            <img src="{% static 'images/menu/n_03-next-1_@2x.png' %}" class="slider-plus-menu" />
          </div>
        </div>
      </div>
      <div class="col s12 bottom">
        <div class="row no-margin-zero">
          <div class="col s8">
            <p class="no-margin-zero">SUIVRE ART INTERACTIVITIES</p>
          </div>
          <div class="col s4">
            <img src="{% static 'images/menu/facebook@2x.png' %}" class="social-icons-slider" />
            <img src="{% static 'images/menu/twitter@2x.png' %}" class="social-icons-slider" />
            <img src="{% static 'images/menu/instagram_s@2x.png' %}" class="social-icons-slider" />
            <img src="{% static 'images/menu/pinterest@2x.png' %}" class="social-icons-slider" />

          </div>
        </div>
      </div>
    </div>
  </ul>

  <div class="row no-margin-zero">
    <div class="col s10">
      <img src="{% static 'images/Test_logo_Plan_de_travail_1.png' %}" alt="" class="logo-header">
    </div>
    <div class="col s2">
      <li class="search search-header">
        <div>
          <input class="input-search" placeholder="Recherche"><i
            class="material-icons right icon-search-header">search</i>
        </div>
      </li>
    </div>
  </div>
  <div class="divider"></div>


    {% block content %}
    <p class="no-margin">Use this document as a way to quick start any new project.</p>
    {% endblock content %}

  {% block modal %}{% endblock modal %}

  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>
